
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spacing {
  padding-left: 10%;
  padding-right: 10%;
}

body, #root {
  height: 100vh;
}

.modal-bottom-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}